/*Set background color of page*/
body {
 background: url(http://i.imgur.com/h60bfV2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*define image gallary perameters including gradient*/
.gallery {
  width: 630px;
  margin: 0 auto;
  padding: 5px;
  background: radial-gradient(yellow, blue);
  float:
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  height: 175px;
  transition: .1s transform;
  transform: translateZ(0);
  opacity: 0.9;
  /*transforamtion and transition above and slight opacity*/
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.one:before, .one:after {
  display: table;
  content: "";
  line-height: 0;
}

.one:after {
  clear: both;
}
/*Set perameters for h1*/
h1 {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
/*image sprites*/
#home {
    width: 55px;
    height: 55px;
    background: url(img_navsprites.gif);
}

/*Navigation list with image sprites*/
#navlist {
    position: absolute;
    left:47.5%;
}

/*attribute selector*/
h1[target]{
  color:red
}
/*color change animation (recurring)*/
h1{
    animation-name: h1test;
    animation-duration: 8s;
  animation-iteration-count: 100;
}
  @keyframes h1test {
  from {color: blue;}
  to {color: yellow;}
  }
